:root {
    --prim-color: #C9EBFF;
    --sec-color: #009ffb;
    --back-color: rgb(139, 211, 255);
    --dark-blue: rgb(1, 66, 180);
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
}

main {
    width: 100%;
    padding: auto;
}

/* .container {
} */

header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 4rem;
    margin: 0px 0px;
}

.logo {
    position: absolute;
    left: 4rem;
}

.logo p {
    font-size: 1.3rem;
    font-weight: bold;
}

.logo p strong {
    color: var(--sec-color)
}

#containerSobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#sobre {
    padding: 3rem 3rem;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    /* flex-wrap: wrap; */
    /* background-color: var(--back-color); */
    background-image: url('/assets/img/BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem; */

}

#nome {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 0 0;
}

#sobreMim {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
}

#social {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 1.4rem;
}

.secao h2 {
    color: #4abdff;
    font-size: 1.4rem;
    margin-bottom: 0rem;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    background-color: var(--sec-color);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 1.2rem;
    padding: 0.5rem 0.8rem;
    border-style: none;
    cursor: pointer;

}

.buttons a {
    text-decoration: none;
}

#coding {
    display: flex;
    justify-content: center;
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
    margin-inline: auto;
}

#habContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.box {
    display: grid;
    place-items: center;
    background-color: rgb(174, 231, 255);
    /* border: 1px solid var(--sec-color); */
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    gap: 10px;
}

.box:hover {
    background-color: #efefef;
    transform: scale(110%);
}

.box p {
    margin: 0px 0px;
}

.hab {
    font-weight: bold;
    color: #00588b;

}

.nivel {
    color: rgb(35, 35, 35);

}

#habilidades {
    margin: 3rem 0rem;
}

/* .boxArea::before {
    content: "";
    width: 100vw;
    height: 30rem;
    position: absolute;


    z-index: -1;
    background-color: #0080ca;
    opacity: 30%;
    border-radius: 2rem;
} */

@media screen and (min-width: 1000px) {
    #sobre {
        flex-direction: row;
        height: 30rem;
    }

    figure {
        width: 2500px;
    }

    figure img {
        width: 70%;
    }

    #sobreMim {
        font-weight: 600;
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
        max-width: 2500px;
    }

    #nome {
        font-size: 2.5rem;
    }


}


