:root {
    --prim-color: #C9EBFF;
    --sec-color: #009ffb;
    --back-color: rgb(139, 211, 255);
    --dark-blue: rgb(1, 66, 180);
}

body {
    background-color: var(--prim-color);
    font-family: 'DM Sans', sans-serif;
    margin: 0px 0px;
}

main {
    width: 100%;
    padding: auto;
}

/* .container {
} */

header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 4rem;
    margin: 0px 0px;
}

.logo {
    position: absolute;
    left: 4rem;
}

.logo p {
    font-size: 1.3rem;
}

.logo p strong {
    color: var(--sec-color)
}

#containerSobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#sobre {
    padding: 3rem 3rem;
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--back-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

#nome {
    font-size: 1.6rem;
    margin: 0 0;
}

#sobreMim {
    color: #002a7f;
    font-size: 1.1rem;
    font-weight: 500;
}

#social {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 1.4rem;
}

.secao h2 {
    color: #0080ca;
    font-size: 1.4rem;
    margin-bottom: 0rem;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    background-color: var(--sec-color);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 1.2rem;
    padding: 0.5rem 0.8rem;
    border-style: none;
    cursor: pointer;

}

.buttons a {
    text-decoration: none;
}

#coding {
    display: flex;
    justify-content: center;
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
    margin-inline: auto;
}

#habContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.box {
    display: grid;
    place-items: center;
    background-color: white;
    /* border: 1px solid var(--sec-color); */
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    gap: 10px;
}

.box:hover {
    background-color: #efefef;
    transform: scale(110%);
}

.box p {
    margin: 0px 0px;
}

.hab {
    font-weight: bold;
    color: var(--sec-color);

}

.nivel {
    color: rgb(186, 186, 186);

}

#habilidades {
    margin: 3rem 0rem;
}

/* .boxArea::before {
    content: "";
    width: 100vw;
    height: 30rem;
    position: absolute;


    z-index: -1;
    background-color: #0080ca;
    opacity: 30%;
    border-radius: 2rem;
} */




@media screen and (min-width: 1000px) {
    #sobre {
        flex-wrap: nowrap;
        gap: 3rem;
        padding-right: 3rem;
        height: 30rem;
    }

    #sobre h1 {
        font-size: 2.4rem;
    }

    figure img {
        width: 100%;
    }

    #containerSobre {
        width: 60%;
        gap: 5rem;
    }

    #coding {
        margin: 0 0;
        width: 600px;
    }

    #sobreMim {
        color: #002a7f;
        font-size: 1.4rem;
        font-weight: 600;
    }
}